<div class="container">
    <div class="row" id="advertisement">
        <div class="col-lg-12">
            <ngb-carousel [interval]=5000 >
                <ng-template ngbSlide>
                   <div class="carousel-wrapper">
                        <img src="https://static.vecteezy.com/system/resources/previews/005/502/524/non_2x/cinema-background-concept-movie-theater-object-on-red-curtain-background-and-movie-time-with-electric-bulbs-frame-illustration-free-vector.jpg">
                   </div>
                </ng-template>   
                <ng-template ngbSlide>
                    <div class="carousel-wrapper">
                        <img src="https://img.freepik.com/free-vector/realistic-horizontal-cinema-movie-time-poster-with-3d-glasses-snacks-tickets-clapper-reel-blue-background-with-bokeh-vector-illustration_1284-77013.jpg">
                    </div>
                </ng-template>  
                <ng-template ngbSlide>
                    <div class="carousel-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT28k5AETZJPHdhVINgChBreBrxXXMHbITzfQ&usqp=CAU">
                    </div>
                </ng-template>   
            </ngb-carousel>
        </div>
    </div>

</div>

