
<div class="row">
    <div class="col text-center">
        <h2>Movie management</h2>
    </div> 
</div>

<div class="row">
    <div class="col">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item"><b>Id</b></li>
            <li class="list-group-item"><b>Photo</b></li>
            <li class="list-group-item"><b>Title</b></li>
            <li class="list-group-item"><b>Edit</b></li>
            <li class="list-group-item"><b>delete</b></li>
        </ul>
        @for (item of movies.content; track $index) 
        {
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item">{{item.movieId}}</li>
            <li class="list-group-item"><img src={{item.movieUrl}}  class="img-thumbnail"></li>
            <li class="list-group-item">{{item.title}}</li>
            <li class="list-group-item"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setMovieToEdit(item)">Edit</button></li>
            <li class="list-group-item"><button type="button" class="btn btn-danger" (click)="deleteMovieById(item.movieId)">Delete</button></li>
        </ul>
        }
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{editedMovie.title}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>