
<div class="row">
    <div class="col text-center">
        <h2>Movie management</h2>
    </div> 
</div>

<div class="row">
    <div class="col">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item"><b>Id</b></li>
            <li class="list-group-item"><b>Photo</b></li>
            <li class="list-group-item"><b>Title</b></li>
            <li class="list-group-item"><b>Edit</b></li>
            <li class="list-group-item"><b>delete</b></li>
        </ul>
        @for (item of movies.content; track $index) 
        {
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item">{{item.movieId}}</li>
            <li class="list-group-item"><img src={{item.movieUrl}}  class="img-thumbnail"></li>
            <li class="list-group-item">{{item.title}}</li>
            <li class="list-group-item"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setMovieToEdit(item)">Edit</button></li>
            <li class="list-group-item"><button type="button" class="btn btn-danger" (click)="deleteMovieById(item.movieId)">Delete</button></li>
        </ul>
        }
    </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">Title</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" value={{editedMovie.title}}>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">URL</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" value={{editedMovie.movieUrl}}>
                </div>
                <label for="exampleFormControlTextarea1" class="form-label">Species</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>{{editedMovie.speciesName}}</option>
                  @for (s of species; track $index) {
                    @if(s.speciesName!=editedMovie.speciesName){
                      <option value="1">{{s.speciesName}}</option>
                    }                 
                  }
                </select>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">Year Of Production</label>
                  <input type="number" class="form-control" id="formGroupExampleInput" value={{editedMovie.yearOfProduction}}>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" value={{editedMovie.description}}></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>