
<div class="row">
    <div class="col text-center">
        <h2>Movie management</h2>
    </div> 
</div>
<div class="row">
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="chagneFlag('add')">Add Movie</button>
  </div>
</div>

<div class="row">
    <div class="col">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item"><b>Id</b></li>
            <li class="list-group-item"><b>Photo</b></li>
            <li class="list-group-item"><b>Title</b></li>
            <li class="list-group-item"><b>Edit</b></li>
            <li class="list-group-item"><b>delete</b></li>
        </ul>
        @for (item of movies.content; track $index) 
        {
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item">{{item.movieId}}</li>
            <li class="list-group-item"><img src={{item.movieUrl}}  class="img-thumbnail"></li>
            <li class="list-group-item">{{item.title}}</li>
            <li class="list-group-item"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setMovieToEdit(item)" (click)="chagneFlag('edit')">Edit</button></li>
            <li class="list-group-item"><button type="button" class="btn btn-danger" (click)="deleteMovieById(item.movieId)">Delete</button></li>
        </ul>
        }
    </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetEditedMovie()"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">Title</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" name="idInput" [(ngModel)]="editedMovie.title">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">URL</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" name="URLInput" [(ngModel)]="editedMovie.movieUrl">
                </div>
                <label for="exampleFormControlTextarea1" class="form-label">Species</label>
                <select class="form-select" aria-label="Default select example" name="speciesInput" [(ngModel)]="editedMovie.speciesName">
                  <option [ngValue]="editedMovie.speciesName">{{editedMovie.speciesName}}</option>
                  @for (s of species; track $index) {
                    @if(s.speciesName!=editedMovie.speciesName){
                      <option [ngValue]="s.speciesName">{{s.speciesName}}</option>
                    }                 
                  }
                </select>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">Year Of Production</label>
                  <input type="number" class="form-control" id="formGroupExampleInput" name="UORInput" [(ngModel)]="editedMovie.yearOfProduction">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="form-label">description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="descriptionInput" [(ngModel)]="editedMovie.description"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetEditedMovie()">Close</button>
              @if (flag) {
                <button type="button" class="btn btn-primary" (click)="addNewMovie()" data-bs-dismiss="modal">Add</button>
              }
              @else {
                <button type="button" class="btn btn-primary" (click)="updateMovie()" data-bs-dismiss="modal">Save</button>
              }
              
             
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="pagination justify-content-center text-center">
  
            <li class="page-item" >
              <a class="page-link" aria-label="Previous" [class.disabled]="movies.currentPage+1 === 1" (click)="getAllMovie(movies.currentPage-1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" >{{movies.currentPage+1}}</a></li>
            <li class="page-item">
              <a class="page-link" aria-label="Next" [class.disabled]="movies.currentPage+1 === movies.totalPage"  (click)="getAllMovie(movies.currentPage+1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only"></span>
              </a>
            </li>
          </ul>
      </div>
</div>