<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover" routerLink="/register">Sign Up </h2>
  
     
  
      <!-- Login Form -->
      <form (ngSubmit)="authUser()">
         <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)] ="authDate.login">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)] ="authDate.password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>