<div class="row">
    <div class="col text-center">
        <h2>Users management</h2>
    </div> 
</div>
<div class="row">
        <div class="col">
            <ul class="list-group list-group-horizontal justify-content-center">
                <li class="list-group-item"><b>id</b></li>
                <li class="list-group-item"><b>movie</b></li>
                <li class="list-group-item"><b>room</b></li>
                <li class="list-group-item"><b>start Time</b></li>
                <li class="list-group-item"><b>end Time</b></li>
                <li class="list-group-item"><b>ticket cost</b></li>
                <li class="list-group-item"><b>Edit</b></li>
            </ul>
            @for (s of seances; track $index) {
                <ul class="list-group list-group-horizontal justify-content-center">
                    
                    <li class="list-group-item"><b>{{s.seanceId}}</b></li>
                    <li class="list-group-item"><b>{{s.movie}}</b></li>
                    <li class="list-group-item"><b>{{s.room}}</b></li>
                    <li class="list-group-item"><b>{{s.startTime}}</b></li>
                    <li class="list-group-item"><b>{{s.endTime}}</b></li>
                    <li class="list-group-item"><b>{{s.ticketCost}}</b></li>
                    <li class="list-group-item"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setEditedSeance(s)">Edit</button></li>
                </ul>

            }
        </div>
</div>