<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col-lg-4 col-md-4 col-sm-3 text-end">
      <button type="button" class="btn btn-primary" [class.disabled]="currentDate === getCurrentDate()" (click)="changeDate(-1)" >
        <i class="fas fa-arrow-left customArrow"></i>
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6"> <h1>Seance {{currentDate}}</h1> </div>
    <div class="col-lg-4 col-md-4 col-sm-3 text-start "> 
      <button type="button" class="btn btn-primary" (click)="changeDate(1)" >
        <i class="fas fa-arrow-right customArrow"></i>
    </button></div>
  </div>

    <div class="row ">
    
      <div *ngFor="let seance of seanceByDate" class="col-lg-12 col-md-12 d-flex justify-content-center">
       
          <div class="card" style="width: 14rem;">
            <img class="card-img-top" src={{seance.movieUlr}} alt="Card image cap" height="300px">
            <div  class="card-body text-center">
              <h5 class="card-title ">{{seance.movie}}</h5>
              <a *ngFor="let time of seance.seanceStartTimeList" class="btn btn-primary" [routerLink]="['/reservation',time.id]">{{time.startTime}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>